In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv("kidney_disease.csv")

In [4]:
dataset.drop(columns="id", inplace=True)

In [5]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [6]:
from univariate import Univariate

In [7]:
quan, qual = Univariate.quanQual(dataset)

age
bp
sg
al
su
rbc
pc
pcc
ba
bgr
bu
sc
sod
pot
hemo
pcv
wc
rc
htn
dm
cad
appet
pe
ane
classification

In [8]:
quan

['age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo']

In [9]:
dataset = dataset[quan]

In [10]:
dataset

      age    bp     sg   al   su    bgr    bu   sc    sod  pot  hemo
0    48.0  80.0  1.020  1.0  0.0  121.0  36.0  1.2    NaN  NaN  15.4
1     7.0  50.0  1.020  4.0  0.0    NaN  18.0  0.8    NaN  NaN  11.3
2    62.0  80.0  1.010  2.0  3.0  423.0  53.0  1.8    NaN  NaN   9.6
3    48.0  70.0  1.005  4.0  0.0  117.0  56.0  3.8  111.0  2.5  11.2
4    51.0  80.0  1.010  2.0  0.0  106.0  26.0  1.4    NaN  NaN  11.6
..    ...   ...    ...  ...  ...    ...   ...  ...    ...  ...   ...
395  55.0  80.0  1.020  0.0  0.0  140.0  49.0  0.5  150.0  4.9  15.7
396  42.0  70.0  1.025  0.0  0.0   75.0  31.0  1.2  141.0  3.5  16.5
397  12.0  80.0  1.020  0.0  0.0  100.0  26.0  0.6  137.0  4.4  15.8
398  17.0  60.0  1.025  0.0  0.0  114.0  50.0  1.0  135.0  4.9  14.2
399  58.0  80.0  1.025  0.0  0.0  131.0  18.0  1.1  141.0  3.5  15.8

[400 rows x 11 columns]

In [11]:
dataset.isna().sum()

age      9
bp      12
sg      47
al      46
su      49
bgr     44
bu      19
sc      17
sod     87
pot     88
hemo    52
dtype: int64

In [12]:
descriptive = Univariate.univariate_report(dataset, quan)

In [13]:
descriptive

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
mean,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
median,55.0,80.0,1.02,0.0,0.0,121.0,42.0,1.3,138.0,4.4,12.65
mode,60.0,80.0,1.02,0.0,0.0,99.0,46.0,1.2,135.0,3.5,15.0
Q1:25%,42.0,70.0,1.01,0.0,0.0,99.0,27.0,0.9,135.0,3.8,10.3
Q2:50%,55.0,80.0,1.02,0.0,0.0,121.0,42.0,1.3,138.0,4.4,12.65
Q3:75%,64.5,80.0,1.02,2.0,0.0,163.0,66.0,2.8,142.0,4.9,15.0
99%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Q4:100%,90.0,180.0,1.025,5.0,5.0,490.0,391.0,76.0,163.0,47.0,17.8
IQR,22.5,10.0,0.01,2.0,0.0,64.0,39.0,1.9,7.0,1.1,4.7
1.5rule,33.75,15.0,0.015,3.0,0.0,96.0,58.5,2.85,10.5,1.65,7.05
lesser_outlier,8.25,55.0,0.995,-3.0,0.0,3.0,-31.5,-1.95,124.5,2.15,3.25
greater_outlier,98.25,95.0,1.035,5.0,0.0,259.0,124.5,5.65,152.5,6.55,22.05
min,2.0,50.0,1.005,0.0,0.0,22.0,1.5,0.4,4.5,2.5,3.1
max,90.0,180.0,1.025,5.0,5.0,490.0,391.0,76.0,163.0,47.0,17.8
kurtosis,0.05784,8.646095,-1.144357,-0.383377,5.055348,4.225594,9.345289,79.304345,85.53437,142.505912,-0.471398
skew,-0.668259,1.605429,-0.172444,0.998157,2.464262,2.010773,2.634374,7.509538,-6.996569,11.582956,-0.335095

In [14]:
lesser, greater = Univariate.check_outliers_column_names(quan, descriptive)

In [15]:
lesser

['age', 'bp', 'sod', 'hemo']

In [16]:
greater

['bp', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot']

In [17]:
# As per above analysis, we can use median
from sklearn.impute import SimpleImputer
import numpy as np
im = SimpleImputer(strategy="median",missing_values=np.nan)
im.fit(dataset[quan])
dataset = im.transform(dataset[quan])

In [18]:
dataset

array([[ 48.   ,  80.   ,   1.02 , ..., 138.   ,   4.4  ,  15.4  ],
       [  7.   ,  50.   ,   1.02 , ..., 138.   ,   4.4  ,  11.3  ],
       [ 62.   ,  80.   ,   1.01 , ..., 138.   ,   4.4  ,   9.6  ],
       ...,
       [ 12.   ,  80.   ,   1.02 , ..., 137.   ,   4.4  ,  15.8  ],
       [ 17.   ,  60.   ,   1.025, ..., 135.   ,   4.9  ,  14.2  ],
       [ 58.   ,  80.   ,   1.025, ..., 141.   ,   3.5  ,  15.8  ]])

In [19]:
preprocessing_table = pd.DataFrame(data=dataset, columns=quan)
preprocessing_table

      age    bp     sg   al   su    bgr    bu   sc    sod  pot  hemo
0    48.0  80.0  1.020  1.0  0.0  121.0  36.0  1.2  138.0  4.4  15.4
1     7.0  50.0  1.020  4.0  0.0  121.0  18.0  0.8  138.0  4.4  11.3
2    62.0  80.0  1.010  2.0  3.0  423.0  53.0  1.8  138.0  4.4   9.6
3    48.0  70.0  1.005  4.0  0.0  117.0  56.0  3.8  111.0  2.5  11.2
4    51.0  80.0  1.010  2.0  0.0  106.0  26.0  1.4  138.0  4.4  11.6
..    ...   ...    ...  ...  ...    ...   ...  ...    ...  ...   ...
395  55.0  80.0  1.020  0.0  0.0  140.0  49.0  0.5  150.0  4.9  15.7
396  42.0  70.0  1.025  0.0  0.0   75.0  31.0  1.2  141.0  3.5  16.5
397  12.0  80.0  1.020  0.0  0.0  100.0  26.0  0.6  137.0  4.4  15.8
398  17.0  60.0  1.025  0.0  0.0  114.0  50.0  1.0  135.0  4.9  14.2
399  58.0  80.0  1.025  0.0  0.0  131.0  18.0  1.1  141.0  3.5  15.8

[400 rows x 11 columns]

In [21]:
preprocessing_table.isnull().sum()

age     0
bp      0
sg      0
al      0
su      0
bgr     0
bu      0
sc      0
sod     0
pot     0
hemo    0
dtype: int64